[Unit]
Description=sensors2mqtt hwmon collector (%H)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m sensors2mqtt.collector.hwmon
Restart=always
RestartSec=10
EnvironmentFile=-/etc/sensors2mqtt/env

[Install]
WantedBy=multi-user.target
