[Unit]
Description=sensors2mqtt local sensor collector (%H)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/sensors2mqtt/bin/python -m sensors2mqtt.collector.local
Restart=always
RestartSec=10
Environment=MQTT_HOST=ha.welland.mithis.com
Environment=POLL_INTERVAL=30

[Install]
WantedBy=multi-user.target
