#!/usr/bin/make -f

export SETUPTOOLS_SCM_PRETEND_VERSION = $(shell dpkg-parsechangelog -SVersion | sed 's/-.*//')
export PYBUILD_TEST_PYTEST = 1
export PYBUILD_TEST_ARGS = -m "not integration"

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installsystemd:
	dh_installsystemd -p sensors2mqtt-snmp --no-start
	dh_installsystemd -p sensors2mqtt-snmp-control --no-start
	dh_installsystemd -p sensors2mqtt-ipmi-sensors --no-start
	dh_installsystemd --remaining-packages
